<!DOCTYPE html>
<html>

<head>
  <!-- importando o componente de device para tela -->
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/responsivo.css">
  <script src="script.js"></script>
</head>

<body>

  <div class="header">
    <h2>Galeria de Gatos</h2>
    <p>Scroll do gato especifico</p>
  </div>

  <ul class="topnav">
    <li>
      <a class="active" href='../index.html'>Home</a>
    </li>
    <li>
      <a href='inicio.html'>inicio</a>
    </li>

    <li>
      <a href='suggest.html'>Suggest</a>
    </li>
    <li class="right">
      <a href="#about">About</a>
    </li>
  </ul>


  <div class="ajuste">
    <h2>Gato Siamês</h2>
    <img class="circle ca" src="https://image.cachorrogato.com.br/textimages/gato-siames-filhote.jpg" alt="Gato Siamês">

    <h4>história</h4>
    <p>
      Estudiosos dizem que o gato Siamês é original da Tailândia, conhecido no Sudoeste Asiático como o gato feito para acompanhar
      reis, por ter postura e ser elegante. Mas com o passar dos anos, os siameses acabaram indo parar na Inglaterra, e de
      lá foram transportados para os outros países e continentes, e caíram nas graças do mundo inteiro, se tornando uma das
      raças de gatos mais famosas do mundo, juntamente com os Persas.
    </p>

    <h4>dados</h4>
    <p>
      Siamês é uma das raças de gato mais populares do mundo, seus olhos azuis enormes e o pelo que começa claro e termina em degrade
      com o escuro chamam muita atenção de quem vê um gato siamês, ou que tem a oportunidade de chegar perto de um. Mas o
      que poucas pessoas sabem é que essa é uma das raças de gatos mais imprevisíveis que existem, e também uma das mais
      versáteis para se ter como companhia.
    </p>

    <h4 class="textosombra">caracteristicas</h4>
    <p>
      O peso ideal de um gato Siamês adulto é entre 3kg e 6kg, com a altura média de 20cm. Eles atingem a pelagem definitiva entre
      os 5 e 8 meses de idade, podendo criar pelos brancos entre os escuros conforme vão ficando idosos. O gatinho Siamês
      pode viver de 15 a 20 anos com saúde e agilidade, tudo vai depender da sua qualidade de vida.
    </p>
  </div>

</body>

</html>