body {
  width: 100%;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;  
}

.toolBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url('https://img.elo7.com.br/product/original/19586F4/papel-de-parede-plotagem.jpg');
} 

ul.toolBar li {float: left;}
ul.toolBar li a {
  display: block;
  color: #333;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.imagemBolo{
  padding: 20px;
  width: 560px;
  height: 300px;
} 
 
.box {
  width: 390px;
  height: auto;
  float: left;
}

div#a-b {  
  width: 1050px;
  height: auto;
  margin: auto;
}

div#a-b h3 {
  text-align: left;
  display: inline;

}

div#a-b ul li {
  text-align: left;
  display: block; 
}

.left {
  margin-left: 30px;
  width: 500px;
}

ul li{
  
  color:brown;
}
 