body {
  width: 100%;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;  
  /*background-image: url('../img/estrelasGif.gif') ;*/ 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.toolBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url('https://img.elo7.com.br/product/original/19586F4/papel-de-parede-plotagem.jpg');
} 

ul.toolBar li {float: left;}
ul.toolBar li a {
  display: block;
  color: #333;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.imagemBolo{
  padding: 20px;
  width: 560px;
  height: 300px;
} 
 
.box {
  width: 390px;
  height: auto;
  float: left;
}
  
div#a-b {  
  width: 1050px;
  height: auto;
  margin: auto;
}

div#a-b h3 {
  text-align: left;
  display: inline;

}

div#a-b ul li {
  text-align: left;
  display: block; 
}

.left {
  margin-left: 30px;
  width: 500px;
}

ul li{
  
  color:brown;
}

.livro{
  background-image: url('../img/livro.png') ;  
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  width: 1400px;
}
 
.componenteEsquerda{ 
  padding-top: 100px; 
  padding-left: 168px; 
  float:left; 
  height: 348px;
  width: 325px;
}

.componenteDireita{ 
  padding-top: 100px; 
  padding-left: 350px; 
  float:left; 
  height: 348px;
  width: 325px;
}


.componenteDAEsquerda{ 
  padding-top:50px;
  height: 500px; 
  width: 680px;  
  float:left;
}
.componenteDADireita{ 
  padding-top:50px;
  padding-left: 40px; 
  height: 500px; 
  width: 650px; 
  float:left;
}

.imagemReceita{
  height: 200px; 
  width: 300px;
}










/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }  	

   
.flip-container, .front, .back {  	
  width: 320px;  	
  height: 480px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.1s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper,  
.flip-container.flip .flipper {  		
  transform: rotateY(180deg);  	
} 
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }