<!-- https://www.youtube.com/watch?v=dCWkeFBCPnA&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb&index=2 -->
<!-- ng-app=>Definindo as fornteiras da aplicação -->

<html ng-app="listaTelefonica">
    <head>
        <title>Lista Telefônica</title> 
        <script src="lib/angular-1.7.2/angular.js"></script> <!-- Arquivo JavaScript de importação do angular -->
        <script src="javascript.js"></script>  <!-- Arquivo de JavaScript codigo -->
        <script src="style/index.css"></script> <!-- Arquivo de CSS-->  
    </head>
    <body ng-controller="listaTelefonicaCtrl">  

        <div class="titulo">
            <!-- ng-bind(Subistitui o elemento  por uma expressão) => substitui as chaves->{{app}} -->
            <h1 ng-bind="app"></h1> 

            <table> 
                <tr>                     
                    <th>  <h3>Nome</h3>  </th> <!-- nome da coluna -->
                    <th>  <h3>Telefone</h3> </th> <!-- nome da coluna -->
                </tr>
                
                <!-- ng-repeat(ele faz á leitura linha á linha de contatos EM contatos(lista) ) -->
                <tr ng-repeat="contato in contatos">
                    <td>  <h4 ng-bind="contato.nome"></h4>   </td> <!-- nome do registro da coluna -->
                    <td>  <h4 ng-bind="contato.telefone"></h4>  </td> <!-- nome do registro da coluna -->
                </tr>
            </table> 

            <input type="text" placeholder="nome" ng-model="contato.nome"/><br/> <br/> 
            <input type="text" placeholder="telefone" ng-model="contato.telefone"/>

            <button ng-click="adicionarContato(contato)">Adicionar Contato</button>  
        </div> 
    </body>
</html>