<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>1º Teste</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script data-require="angular.js@1.2.18" data-semver="1.2.18" src="http://code.angularjs.org/1.2.18/angular.min.js"></script>
  <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <link rel="stylesheet" href="../style/style.css">
</head>

<body ng-controller="HomeCtrl">

  <ul class="toolBar">
    <li>
      <a class="active" href='../index.html'>Home</a>
    </li>

    <li>
      <a href='recipes.html'>Recipes</a>
    </li>

    <li>
      <a href='suggest.html'>Suggest</a>
    </li>
  </ul>

  <h1>Detalhe da Receita</h1>

  <div>

    <pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="todos.length" ng-model="currentPage"
      ng-change="pageChanged()">
    </pagination>

    <h4>Total de Receitas: {{todos.length}}</h4>

    <ul ng-repeat="todo in filteredTodos">
      <h1 ng-bind="todo.name"></h1>
      <img class="imagemBolo" ng-src="{{todo.photo}}">
      <p ng-bind="todo.descricao"></p>

      <div id="a-b">
        <div class="box">

          <h3>Ingredientes</h3>
          <h4 ng-show="todo.ingredientesMassa[0]">Massa:</h4>
          <ul ng-repeat="ingredientes in todo.ingredientesMassa">
            <li ng-bind="ingredientes"></li>
          </ul>

          <h4 ng-show="todo.ingredientesRecheio[0]">Recheio:</h4>
          <ul ng-repeat="ingredientes in todo.ingredientesRecheio">
            <li ng-bind="ingredientes"></li>
          </ul>

          <h4 ng-show="todo.ingredientesCobertura[0]">Cobertura:</h4>
          <ul ng-repeat="ingredientes in todo.ingredientesCobertura">
            <li ng-bind="ingredientes"></li>
          </ul>

          <h4 ng-show="todo.ingredientesCalda[0]">Calda:</h4>
          <ul ng-repeat="ingredientes in todo.ingredientesCalda">
            <li ng-bind="ingredientes"></li>
          </ul>

          <h4 ng-show="todo.ingredientesPraline[0]">Praliné:</h4>
          <ul ng-repeat="foi in todo.ingredientesPraline" ng-model="checked" ngShow>
            <li ng-bind="foi"></li>
          </ul>

        </div>
        <div class="box left">

          <h3>MODO DE PREPARO</h3>

          <h4 ng-show="todo.modoDePreparoMassa[0]">Massa:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoMassa"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoRecheio[0]">Recheio:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoRecheio"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoCobertura[0]">Cobertura:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoCobertura"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoPraline[0]">Praliné:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoPraline"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoCalda[0]">Calda:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoCalda"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoMontagem[0]">Montagem:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoMontagem"></p>
          </ul>

          <h4 ng-show="todo.modoDePreparoDica[0]">Dica:</h4>
          <ul>
            <p ng-bind="todo.modoDePreparoDica"></p>
          </ul>

        </div>
      </div>

    </ul>

  </div>

  <!-- Angularjs -->
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>

  <!-- Controllers -->
  <script type="text/javascript" src="../controller/homeController.js"></script>

</body>

</html>