<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../controller/recipesController.js"></script>
  <link rel="stylesheet" href="../style/style.css">
</head>

<body ng-controller="RecipesCtrl">

  <ul class="toolBar">
    <li>
      <a class="active" href='home.html'>Home</a>
    </li>

    <li>
      <a href='recipes.html'>Recipes</a>
    </li>

    <li>
      <a href='suggest.html'>Suggest</a>
    </li>
  </ul>

  <h3>Recipes teste</h3>
 

</body>

</html>