<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../controller/suggestController.js"></script>
  <script src="script.js"></script>
</head>

<body ng-controller="suggestCtrl">

  <ul class="toolBar">
    <li>
      <a class="active" href='home.html'>Home</a>
    </li>

    <li>
      <a href='recipes.html'>Recipes</a>
    </li>

    <li>
      <a href='suggest.html'>Suggest</a>
    </li>
  </ul>

  <h3>Cadastro de Receitas</h3>

  <form action="">
    <label>Nome da Receita</label>
    <input type="text" placeholder="oi">
    <br/>
    <br/>
    <label>Ingredientes</label>
    <input type="text" placeholder="oi">
    <br/>
    <br/>
    <label>Modo de Preparo</label>
    <input type="text" placeholder="oi">
    <br/>
    <br/>
    <label>Carregue á imagem para sua receita</label>
    <input type='file' accept='image/*' onchange="angular.element(this).scope().openFile(event)" ng-model="image">
    <br>
    <img id='output' class="imagemBolo" ng-src="{{photo}}">
  </form>

</body>

</html>