<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="script.js"></script>
</head>

<body>

  <ul class="toolBar">
    <li>
      <a class="active" href='home.html'>Home</a>
    </li>

    <li>
      <a href='recipes.html'>Recipes</a>
    </li>

    <li>
      <a href='suggest.html'>Suggest</a>
    </li>
  </ul>

  <h3>Cadastro de Receitas</h3>

  <form action="">
    <label>nome da receita</label>
    <input type="text" placeholder="oi"><br/><br/>
    <label>ingredientes</label>
    <input type="text" placeholder="oi"><br/><br/>
    <label>modo de preparo</label>
    <input type="text" placeholder="oi"><br/><br/>
  </form>

</body>

</html>