<html>

<head>
  <title>Acessorios</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
</head>

<body>

  <script>
    $(document).ready(function () {
      $("#aba").load("abas.html");
      $("#rodape").load("rodape.html");
    });     
  </script>

  <!-- Cabeçalho -->
  <div id="aba"></div>

  <div class="main-content">
    <h1>Acessorios: </h1>

    <div>
      <h4>camas</h4>
      <main class="wrapper">
        <section class="section imagem1">
          <p class="text">Cama do Batman</p>
        </section>

        <section class="section imagem2">
          <p class="text">Cama Florida</p>
        </section>

        <section class="section imagem3">
          <p class="text">Cama Sofa</p>
        </section>

        <section class="section imagem4">
          <p class="text">Cama Melancia</p>
        </section>
      </main>
    </div>
  </div>

  <!-- Rodapé -->
  <div id="rodape"></div>

</body>

</html>