<html>

<head>
  <title>Cadastro</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
</head>

<body>

  <script>

    $(document).ready(function () {
      $("#aba").load("abas.html");
      $("#rodape").load("rodape.html");
    });

    function nova() {
      location.href = "buscaCepApi.html";
    }

    function novo() {
      location.href = "login.html";
    }
  </script>

  <!-- Cabeçalho -->
  <div id="aba"></div>

  <!--  -->
  <form style="background:azure" ng-app="myApp" ng-submit="submit()" ng-controller="myCtrl">

    <input type="button" value="voltar" onClick="novo()" style="background:red">

    <h2>Cadastro do Animal/Cliente</h2>

    <div style="margin:100px">

      <h3>Cliente</h3>
      <ul>
        <li>
          <label>Nome</label>
          <input type="text" id="tx_name">
        </li>
        <li>
          <label>RG</label>
          <input type="text" id="tx_rg">
        </li>
        <li>
          <label>Enderreço:</label>
        </li>
        <li>
          <input type="button" value="procurar" onClick="nova()">
        </li>
        </br>
        </br>
        <li>
          <label>Telefone</label>
          <input type="text" id="tx_telefone">
        </li>
        <li>
          <label>E-mail</label>
          <input type="text" id="tx_email">
        </li>
        <li>
          <label>Password</label>
          <input type="text" id="tx_assword">
        </li>
      </ul>
    </div>

    <div style="margin:100px">

      <h3>Animal</h3>

      <ul>
        <li>
          <label>nome</label>
          <input type="text" id="tx_animal_Nome">
        </li>
        <li>
          <label>raça</label>
          <input type="text" id="tx_animal_raca">
        </li>
        <li>
          <label>selecione o pet abaixo:</label>
        </li>
        <li>
          <select class="label">
            <option></option>
            <option value="cachorro">Cachorro</option>
            <option value="gato">Gato</option>
          </select>
        </li>
      </ul>
    </div>

    <div style="margin:100px">
      <input class="botao" type="submit" value="cadastre">
    </div>

  </form>

  <!-- Rodapé -->
  <div id="rodape"></div>

</body>

</html>