<html>

<head>
  <title>Cadastro</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
</head>

<body>

  <script>

    $(document).ready(function () {
      $("#aba").load("abas.html");
      $("#rodape").load("rodape.html");
    });

    function nova() {
      location.href = "teste3API.html";
    }

    function novo() {
      location.href = "login.html";
    }
  </script>

  <!-- Cabeçalho -->
  <div id="aba"></div>

  <!--  -->
  <form style="background:azure" ng-app="myApp" ng-submit="submit()" ng-controller="myCtrl">

    <input type="button" value="voltar" onClick="novo()" style="background:red">

    <div style="margin:100px">
      <ul>
        <li>
          <label>Nome</label>
          <input type="text" id="tx_name">
        </li>
      </ul>
      <ul>
        <li>
          <label>E-mail</label>
          <input type="text" id="tx_email">
        </li>
      </ul>
      <ul>
        <li>
          <label>Password</label>
          <input type="text" id="tx_assword">
        </li>
      </ul>
      </br>
      <div>
        <ul>
          <li>
            <label>Enderreço:</label>
          </li>
          <li>
            <input type="button" value="procurar" onClick="nova()">
          </li>
        </ul>
      </div>

      <ul>
        <li>
          <label>selecione o pet abaixo:</label>
        </li>
        </br>
        <li>
          <select class="label">
            <option></option>
            <option value="cachorro">cachorro</option>
            <option value="gato">gato</option>
          </select>
        </li>
        </br>
        </br>
        <li>
          <input class="botao" type="submit" value="cadastre">
        </li>
      </ul>
    </div>
  </form>

  <!-- Rodapé -->
  <div id="rodape"></div>

</body>

</html>