<html ng-app="myApp">

<head>
  <title>Contato</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
</head>

<body>

  <script>
    $(document).ready(function () {
      $("#aba").load("abas.html");
      $("#rodape").load("rodape.html");
    });     
  </script>

  <!-- Cabeçalho -->
  <div id="aba"></div>

  <div class="main-content">
    <h3> contato </h3>
    <p>
      SITE GRÁTIS BRASIL</br>
      Solução Rápida, Grátis e Profissional.
    </p>
    <p>
      Telefone: (21) 3683-5417 </br>
      Atendimento: De segunda a sexta-feira das 9:00 às 12:00 e das 13:00 às 18:00h.
    </p>
    <div>
      <img src="../imagem/logo.PNG" alt="pata de Cachorro">
    </div>
  </div>

  <!-- Rodape -->
  <div id="rodape"></div>

</body>

</html>