<html>

<head>
    <title>Busca de Cep</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
        </script>
    <style>
        #mapa {
            height: 400px;
            width: 50%;
        }
    </style>
</head>

<body>

    <!-- scripts da Api Mapa -->
    <script>
        function initMap() {
            var x = document.getElementById("myText").value;
            console.log(x);

            var latLng =
            {
                lat: -8.0820288,
                lng: -34.9404221
            };

            //criando uma sobreposição da div ocupando o espaço dela com o mapa
            var map = new google.maps.Map
                (document.getElementById('mapa'), {
                    zoom: 15,
                    center: latLng
                });

            //definição da localização do pino vermelho no mapa
            var marker = new google.maps.Marker
                ({
                    position: latLng,
                    map: map
                });
        }
    </script>

    <!-- https://console.cloud.google.com/navigation-error;errorUrl=%2Fgoogle%2Fmaps-apis%2Fapi-list%253Fhl%253Dpt-br%2526organizationId%253D%2526project%253Djavascript-treinamento%2526folder%253D?hl=pt-br&project=javascript-treinamento -->
    <!-- key ativada no console.cloud -> Maps JavaScript API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv8P6S1SqN2X_lX9WGLSt3zmWfU6nWJsQ&callback=initMap">
    </script>

    <script>

        $(document).ready(function () {
            $("#aba").load("abas.html");
            $("#rodape").load("rodape.html");
        });

        function nova() {
            location.href = "localizacao.html";
        }
    </script>

    <!-- Cabeçalho -->
    <div id="aba"></div>

    <!-- Corpo da Pagina -->
    <input style="background:red" class="botao" type="submit" value="voltar" onclick="nova()">

    <h3>Localização</h3>

    <input type="text" name="FirstName" id="myText">
    <button onclick="initMap()">buscar</button>
    </br>

    <div id="mapa"></div>

    <!-- Rodapé -->
    <div id="rodape"></div>

</body>

</html>