<html ng-app="myApp">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
</head>

<body>

  <script>
    $(document).ready(function () {
      $("#aba").load("abas.html");
      $("#rodape").load("rodape.html");
    });     
  </script>

  <!-- Cabeçalho -->
  <div id="aba"></div>

  <div class="main-content">
    <form class="formulario" style="background-image:url('../imagem/pets2.jpg')">

      <div class="test">

        <ul>
          <li>
            <label for="tx_name">Nome</label>
            <input type="text" id="tx_name">
          </li>
          </br>
          <li>
            <label for="tx_name">Password</label>
            <input type="text" id="tx_assword">
          </li>
          </br>
          <li>
            <a href='cadastro.html' target='_blank'>Realize o cadastro!</a>
          </li>
          </br>
          <li>
            <input type="submit" value="clique aqui">
          </li>
        </ul>
      </div>
    </form>
  </div>

  <!-- Rodape -->
  <div id="rodape"></div>

</body>

</html>