<div class="page-header">
    <h1 ng-bind-html="vm.pageTitle"></h1>
</div>


<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <a class="btn btn-success pull-right" ui-sref="main.todo-create">
            Create
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CPF</th>
            <th>RG</th>
            <th>QTD FILHOS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.users">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.email"></td>
            <td ng-bind="item.cpf"></td>
            <td ng-bind="item.rg"></td>
            <td ng-bind="item.qtdChildrens"></td>
            <td>               
                <!-- Chamando uma url com paramatro. Obs.: 
                        Olhen o router e o controller que tem o $stateParam,
                        pois é desse jeito que passa parametros pela url.
                -->
                <a class="btn btn-info" ui-sref="main.todo-update({id: item.id })">
                    Update
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <!-- Chamando a funcao do ctrl -->
                <button type="button" class="btn btn-danger" ng-click="vm.deleteUserApi(item);">
                    Delete
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

  