ul li{
    color:blueviolet;
  }

  /*configuração do paragrafo*/
p{
  border-top: 25px;
  border-right: 15px;
  border-bottom: 35px;
  border-left: 30px;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 3px;
 
  border-color: blueviolet;
  display:inline;
}

ul li a{
  color:#f90;
}

/*configuração da imagen*/
img{
  width: 300px;
  height: 200px;
}

/*criando classe com suas propriedades*/

.test h1{
  color:#f90;
}



  