<!-- https://www.youtube.com/watch?v=VcF7SySRkHs&index=3&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb -->
<!-- ng-app=>Definindo as fornteiras da aplicação -->

<html ng-app="listaTelefonica">

<head>
    <title>Lista Telefônica</title>
    <script src="lib/angular-1.7.2/angular.js"></script>
    <script src="lib/angular-1.7.2/angular.min.js"></script>
    <script src="javascript.js"></script>
    <script src="style/index.css"></script>
    <style>
        .selecionado {
            background-color: blueviolet;
        }
    </style>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div>
        <!-- ng-bind(Subistitui o elemento  por uma expressão) => {{app}} -->
        <h1 ng-bind="app"></h1>
        <table ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>
                    <h3>Nome</h3>
                </th>
                <th>
                    <h3>Telefone</h3>
                </th>
                <th>
                    <h3>operadora</h3>
                </th>
                <th></th>
            </tr>
            <!-- ng-repeat(ele faz á leitura linha á linha de contatos EM contatos(lista) ) -->
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <td>
                    <input type="checkbox" ng-model="contato.selecionado"> </td>
                <td>
                    <h3>{{contato.nome}}</h3>
                </td>
                <td>
                    <h3>{{contato.telefone}}</h3>
                </td>
                <td>
                    <h3>{{contato.operadora.nome}}</h3>
                </td>
                <td>
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"> </div>
                </td>
            </tr>
        </table>
        <input type="text" placeholder="nome" ng-model="contato.nome" />
        <br/>
        <br/>
        <input type="text" placeholder="telefone" ng-model="contato.telefone" />
        <!-- ng-options
            (valorDoCampoQueVaiSalvarNoObjetoContato AS valorDoCampoQueApareceNaTela GROUP BY nomeValorSeparadoPorCategoria FOR itemAtual EM listaComTodosOsRegistros) 
            -->
        <br/>
        <br/>

        <select ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>

        <br/>
        <br/>

        <!-- ng-disabled(desabilita para clicar) -->
        <button ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contatos</button>

        <br/>
        <br/>

        <button ng-click="ApagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>

    <div ng-include="'footer.html'"></div>

</body>

</html>