/* -----------GLOBAL------------------------*/
body
{
    background-image: url('imagens/bolasFutebol.jpg');
}

h1
{
    color: blue;
    text-align: center;
    font: bold;
}

img
{
    width: 200px;
    height: 250px;
} 

b
{
	color: red;
	font-size: 15px;
}
 
/* -----------ESPECIFICA------------------------*/
.flex-container 
{
    display: flex;
    background-color: rosybrown; 
}
  
.flex-container > div 
{
	border: 1px solid #ccc;
    width: 195px;
    height: 360px;
    background-color: dodgerblue;
    margin: 10px;
    padding: 25px;
    font-size: 20px;
}
 
 
 .gallery {
	background-color: yellow;
	padding: 10px;
	display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 1200px;
}
  
 .gallery2 {
	 background-color: green;
	 padding: 10px;
	display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 1200px;
}